
# General Ignores
*.dll
*.exe
.DS_Store
*.backup
*.log
*.bak
*~

# Ignore for IDE 
.vscode
.ipynb_checkpoints
.__pycache__
.idea/

# Ignore for terraform
terraform/variables_override.tf
*.tfvars
*.tfstate*
terraform/crash.log
terraform/.terraform/
terraform/my_main.tf

# Specific ignores
output
